html,body {
	width: 100%;
	height: 100%;
}
.subunit {
	fill: #D8D8D8;
}

.subunit:hover {
	stroke: #000;
	stroke-width: .15;
}

.subunit-boundary {
  fill: none;
  stroke: #777;
  stroke-width: 1;
  stroke-dasharray: 1;
  stroke-linejoin: round;
}