.subunit {
	fill: #D8D8D8;
}

.subunit:hover {
	stroke: #000;
	stroke-width: .5;
}

.subunit-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.placeHolder {
	position: relative;
	top: 50%;
	left: 50%;
}